
 

.active{
  background: black;
  border : 2px solid gray;
  cursor: pointer;
  color: beige;
  height: 40px;
  width: 10%;
  text-align: center;
  
}
.active::before{
  background: white;
  display: block;
  position: absolute;
  content: "";
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  
}

.content{
  background: gray;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2{
  padding: 0px 0 5px 0px;
}
.content hr{
  width: 100%;
  height: 2px;
  background: black;
  margin-bottom: 5px
  ;
}
.content p{
  width: 100%;
  height: 100%;
}
.active-content{
  display: block;
}